.bg-orange {
    background-color:rgb(230, 135, 10);
}

.nav-link{
    background: grey;
    margin-right: 1rem;
}

.nav-link:hover{
    background: black;
}

.navbar .nav-link:hover{
    color: red !important;
}

.image-fill{
    border: 1px solid;
    width: 150px;
    height: 100px;
}
.presentation{
    margin-top:2rem;
}

.photo {
    width: 100%;
}

.photo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.videos .col-md-6 {
    text-align: center;
}

.videos .col-md-6 iframe {
    display: inline;
}

h3 {
    font-size: 1rem;
}

h1 {
    margin: 1rem 0 1rem 0;
}

.social-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 1rem;
}

.social-icon {
    margin-right: 1rem;
}